body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.query-builder-container,
.sql-query-container,
.data-table-container {
  flex: 1;
  overflow: auto;
}

.query-builder-container {
  max-height: 30%;
}

.sql-query-container {
  max-height: 20%;
}

.data-table-container {
  max-height: 50%;
}

.table-responsive {
  max-height: 100%;
  overflow: auto;
}