body {
  background-color: #f8f9fa; /* Color de fondo suave */
  font-family: 'Arial', sans-serif;
}

h1, h2 {
  font-weight: bold;
}

.container {
  max-width: 800px;
}

.QueryBuilder {
  font-size: 0.9rem;
}

.bg-white {
  background-color: #ffffff;
}

.shadow-sm {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.border-rounded {
  border-radius: 8px;
}

.btn {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
}

.text-primary {
  color: #007bff;
}

.text-secondary {
  color: #6c757d;
}
